@media screen and (max-width:980px){
    body{
        background:none;
        background-image: url(../img/dark-gray-flecks.png);
    }
    
    .my_photo{
        position:inherit;
        height: auto;
        width: 40%;
    }
    
    .download{
        position: inherit;
        width: 40%;
        height: auto;
        font-size: 30px;
        line-height: 34px;
    }
    
    .fa-paperclip{
        display: none;
    }
    
    .hi_part{
        margin-top: 7.5%;
        margin-left: 50%;
        padding: 0;
        max-width: 95%;
    }
    
    .info, .info_part{
        margin:0;
        word-wrap: break-word;
    }
    
    .info{
        flex-direction: column;
    }
    
    .info_text{
        line-height: 30px;
    }
    
    .info_text li{
        padding-right: 5px;
    }
    
    .info_big{
        max-width: 100%;
    }
    
    .all_here{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5%;
    }

    .about{
        margin-top: 5%;
    }
    
    .spacehere{
        margin-right: 5px;
    }
    
    .footer{
        display: none;
    }
    
    .header{
        position: sticky;
        top:0;
        z-index: 99;
        background-image: url(../img/dark-gray-flecks.png);
    }
    
    .work_example{
        flex-direction: column;
    }
    
    .preview_work{
        margin-bottom: 5%;
    }
}

@media screen and (max-width:1110px){
    .hi_part{
        margin-top: 5.5%;
        margin-left: 50%;
        padding: 0;
        max-width: 95%;
    }
    .my_photo{
        height:48%;
    }
    
    .download{
        top:55%;
    }
    
}